@model BokuNoGame.ViewModels.GameListViewModel
<div>
    <ul class="list-group">
        @foreach (var game in Model.Games)
        {
        <li class="list-group-item">
            <div>
                <img src="data:image;base64,@System.Convert.ToBase64String(game.Logo)" width="80" height="80" />
                <div>@game.Name</div>
            </div>
        </li>
        }
    </ul>
</div>
