@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в BNG</h1>
    <form asp-controller="Home" asp-action="GameList" method="post">
        <div class="form-group">
            <label for="likeName"></label>
            <div class="col-md-5">
                <input id="likeName" name="likeName" class="form-control" size="150" />
                <input class="btn btn-success" type="submit" value="Найти игру" />
            </div>
        </div>        
    </form>
</div>
