@{
    ViewData["Title"] = "Главная";
}
@inject AppDBContext context

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в NGNL</h1>
    <div>
        <ul class="list-inline">
            @foreach(var game in context.GetTopMostPopularGames(5))
            {
                <li class="list-inline-item btn-outline-light">
                    <a asp-controller="Game" asp-action="Game" asp-route-gameId="@game.Id" class="social-icon text-center">
                        <div>
                            <img src="data:image;base64,@System.Convert.ToBase64String(game.Logo)" width="80" height="80" />
                            <p>@game.Name</p>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
