@model BokuNoGame.ViewModels.AdministrateViewModel

<div>
    <p>Панель управления админа</p>
    <p>
        <a class="btn btn-outline-danger" asp-area="" asp-controller="Admin" asp-action="CreateGame">Добавить игру</a>
    </p>
    <p>
        <a class="btn btn-outline-danger" asp-area="" asp-controller="Admin" asp-action="NewReviews">Отрецензировать отзывы</a>
    </p>
</div>
